:root{
    --fontTitulos:"caprasimo", cursive;
    --fontsub:'belanosima', cursive;
    --fontext:'sora', cursive;

    --cor1:#0678BF;
    --cor2:#03658C;
    --cor3:#037F8C;
    --cor4:#038C7F;
    --cor5:#D9AD77;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor2),var(--cor5));
    height: 100%;

}
header{
    
    text-align: center;
    background-repeat: no-repeat;
    background-position: right;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.603);

}

header > h1{
    font-family: var(--fontTitulos);
    font-size: 3em;
    color:#D9AD77;
    text-shadow: 3px 6px 1px #0000004b;
    padding-bottom: 10px;

}
header > h3{
    font-family: var(--fontsub);
    text-decoration: underline;
    padding-bottom: 20px;
    color: var(--cor5);
    text-shadow: 5px 5px 5px #0000004b;
}
nav{
    text-align: left;
    padding: 10px;
    font-family: var(--fontsub);
}
nav > a{
    padding-right: 10px;
    text-decoration: none;
    text-shadow: 2px 2px 2px #0000004b;
    color:lightblue;
    
}
 nav a:hover{
    color: #D9AD77;
    text-decoration: underline;
    transition-duration: 0.5s;
    
 }
 main{
    margin: auto;
    background-color:rgba(173, 216, 230, 0.548);
    padding: 0px 50px 50px 50px;
    min-width: 320px;
    max-width: 1250px;
    padding: 40px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);

 }
 article > h1{
    font-size: 2.5em;
    color: var(--cor5);
    text-shadow: 2px 2px 2px black;
    font-family: var(--fontTitulos);
    padding-bottom: 20px;
    

}
article{
    padding-bottom: 50px;
}
article > h3{
    font-size: 1.8em;
    color: var(--cor5);
    text-shadow: 2px 2px 2px black;
    font-family: var(--fontTitulos);
    padding: 20px;
    
}
article > p{
    font-family: var(--fontext);
    text-indent: 16px;
    text-align: justify;
    padding: 10px;
    line-height: 28px;
}
article a {
    text-decoration: none;
    font-family: var(--fontext);
    font-weight: bold;

}
.mapa{
    width: 80%;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 5px 10px var(--cor5);
    
}

a:hover{
    color: #038c5e;
    text-decoration: underline;
    font-size: bolder;}
   

aside{
    border: 1px solid var(--cor4);
    background-color: #038c5e;
    border-radius: 20px 20px 0px 0px;
    margin: -40px;
    padding: 0px;

}
aside p{
    font-family: var(--fontext);
    text-indent: 16px;
    text-align: justify;
    padding: 10px;
    line-height: 28px;
    background-color: #025c3e;
    border-radius: 20px 20px 0px 0px;
}
aside img{
    width: 400px;
    height: 200px;
    padding: 5px;
    border-radius: 20px;
}
aside img:hover{
    border: 2px solid var(--cor5);
}
footer{
    text-align: center;
    padding: 5px;
    font-weight: bolder;
}